@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --strong_cyan: hsl(171, 66%, 44%);
    --light_blue: hsl(233, 100%, 69%);
    --dark_grayish_blue: hsl(210, 10%, 33%);
    --grayish_blue: hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 18;
    font-weight: 400;
    color: var(--grayish_blue);
}

.clipboard {
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 7em;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.clipboard__header__title,
.clipboard__header__actions {
    width: 100%;
}

.clipboard__header__title>h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;
    color: var(--dark_grayish_blue);
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;
    color: var(--dark_grayish_blue);
}

h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: .5em;
    color: var(--dark_grayish_blue);
}

.buttons__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

.button {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    padding: 1em 1em;
    border-radius: 50px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    outline: none;
}

.primary--btn:hover {
    background-color: rgba(38, 186, 164, 0.60);
}

.secondary--btn:hover {
    background-color: rgba(97, 115, 255, 0.664);
}


.primary--btn {
    background-color: hsla(171, 66%, 44%, 0.80);
    color: #fff;
    box-shadow: 3px 3px 15px rgba(38, 186, 164, 0.582), 3px 3px var(--strong_cyan);
}

.secondary--btn {
    background-color: hwb(233 38% 0% / 0.90);
    color: #fff;
    box-shadow: 3px 3px 15px hwb(233 38% 0% / 0.90), 3px 3px var(--light_blue);
}

.first {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.second,
.three {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.second__content,
.three__content {
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;
}

.second__content__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first__content__info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.first__content {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.img--responsive {
    width: 100%;
    height: auto;
}

.three__content__card__list {
    display: grid;
    grid-template-rows: 1fr;
    gap: 5em;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.card .card__image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2em;
}

.card div {
    width: 100%;
}

.card h2 {
    margin: 0;
}

.companies {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    justify-content: center;
}

.footer {
    margin-top: 6em;
    width: 100%;
    padding: 1em;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: center;
}

.footer__logo,
.footer__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo img {
    width: 20%;
}

.menu__links {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.menu__social {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.social_link a {
    color: var(--dark_grayish_blue);
    text-decoration: none;
    font-weight: 600;
}


.menu__social a {
    color: var(--dark_grayish_blue);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5em;
}

.social_link a:hover,
.social__link a:hover {
    cursor: pointer;
    color: var(--strong_cyan);
}



.challenge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    text-align: center;
}

.challenge a {
    color: var(--strong_cyan);
    text-decoration: none;
}

/**

desktop

*/

@media(min-width:768px) {
    .first__content {
        flex-direction: row;
    }

    .second {
        width: 60%;
        align-content: center;
        justify-content: center;
    }

    .three {
        width: 80%;
    }

    .second__content p {
        width: 90%;
    }

    .first__content__info {
        text-align: left;
        gap: 3em;
    }

    .first__content__info p {
        width: 70%;
    }

    .first__content__info h3 {
        text-align: left;
    }

    .first__content .img--responsive {
        width: 90%;
    }

    .buttons__list {
        flex-direction: row;

    }

    .first {
        width: 90%;
    }

    .clipboard__header__actions,
    .clipboard__header__title,
    .first__title {
        width: 60%;
        text-align: center;
    }

    .first__title {
        align-self: center;
    }

    .button {
        padding: 1em 2.5em;
    }

    .second__content .img--responsive {
        width: 100%;
    }

    .three {
        width: 80%;
    }

    .three__content__card__list {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
    }

    .card h2 {
        margin: 0;
    }

    .companies {
        width: 90%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 3em;
    }

    .footer__logo {
        width: auto;
    }

    .footer__logo img {
        width: 80%;
    }

    .footer__menu {
        width: auto;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }

    .menu__links {
        text-align: left;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2em;
    }
}